# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.build/
dist/
.venv/
venv/
ENV/
.env
.env.*
*.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
!data/**/.gitkeep

# OS
.DS_Store
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/

# Logs
logs/
*.log

.vscode/
node_modules/
__pycache__/
.env
